*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
/*header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 55px;
    box-shadow: ;
}*/
header{
    align-items: center;
    background: white;
    box-shadow: 0 2px 6px #0000001f;
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: space-around;
    left: 0;
    max-width: none;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: none;
    transition: transform .2s ease-out;
    width: 100%;
    z-index: 100;
}
header .logo{
    cursor: pointer;
}
header .logo h2{
    font-family: roboto;
    font-size: 19px;
}
header .logo h2 .span1{
    color: rgb(75, 75, 250);
}
header .logo h2 .span2{
    color: red;
}
header .logo h2 .span3{
    color: yellow;
}
header .logo h2 .span4{
    color: green;
}
header nav{
    position: relative;
    left: -15px;
}
header nav a{
    font-size: 15px;
    cursor:default;
    margin: 0;
    width: 140px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: grey;
   
}
header nav a:hover{
    color: black;
}

header .liensConnexion a{
    font-size: 17px;
    cursor:default;
    margin: 0;
   padding: 10px 20px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
   
}
header .liensConnexion a{
    cursor: pointer;
}
header .liensConnexion .lienitems1{
    color: #1a73e8;
 }
header .liensConnexion .lienitems2{
   background-color: #1a73e8;
   color: white;
}
header .liensConnexion .lienitems2:hover{
    background-color: rgb(22, 22, 173);
}

/*Banniere propriétés*/
.banniere1{
    position: relative;
    top: 54px;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
.banniere1 .item3{
    font-size: 17px;
    position: absolute;
    left: 13%;
    line-height: 1000px;
    color: grey;
}
.banniere1 .item1, .banniere1 .item2{
    position: relative;
    top: 67px;
}
.banniere1 .item1{
    width: 550px;
    display: flex;
    flex-direction: column;
}

.banniere1 .item1 h2{
    font-size: 45px;
    letter-spacing: -.5px;
    line-height: 50px;
    margin-bottom: 20px;
    color: rgb(65, 64, 64);
}
.banniere1 .item1 p{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
    color: grey;
}
.banniere1 .item1 a{
    text-decoration: none;
    padding: 14px 30px;
    text-align: center;
    background-color: #1a73e8;
    color: white;
    width: 250px;
    margin-bottom: 20px;
    cursor: none;
    transition: all 0.5s ease-in-out;
}
.banniere1 .item1 a:hover{
    background-color: rgb(22, 22, 173);
}
.banniere1 .item2{
    width: 450px;
}

.banniere2{
    position: relative;
    background-color: #1a73e8;
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banniere2 .item4{
   display: flex;
   align-items: center;
}
.banniere2 .item4 .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    text-align: center;
    color: #1a73e8;
    height: 64px;
    width: 64px;
    border-radius: 100%;
}
.banniere2 .item4  .texte{
    width: 800px;
    margin-left: 30px;
}
.banniere2 .item4  .texte h3{
    font-size: 35px;
    margin-bottom: 20px;
    color: #fff;
}
.banniere2 .item4  .texte p{
    color: #fff;
}
.banniere2 .item5 a{
   text-decoration: none;
   text-align: center;
   color: #1a73e8;
   background-color: #fff;
   padding: 14px 40px;
   font-size: 18px;
}

/*section offreFormation*/
.offreFormation{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offreFormation .item1{
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    margin-bottom: 30px;
}
.offreFormation .item1 h3{
    text-align: center;
    color: rgb(65, 64, 64);
    font-size: 35px;
    margin-bottom: 20px;
}
.offreFormation .item1 p{
    text-align: center;
    color: rgb(65, 64, 64);
    font-size: 18px;
}
.offreFormation .item2{
    display: flex;
    justify-content: center;
}
.offreFormation .item2 .card{
    width: 300px;
    height: 350px;
    padding: 23px;
    border: 1px solid rgb(212, 210, 210);
    margin: 17px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.offreFormation .item2 .card:hover{
    transform: scale(1.1);
    box-shadow: 0 0 8px #f1f3f480;
}
.offreFormation .item2 .card img{
    margin-bottom: 20px;
    
}
.offreFormation .item2 .card h3{
    margin-bottom: 20px;
    color: rgb(46, 45, 45);
}
.offreFormation .item2 .card p{
    margin-bottom: 20px;
    color:rgb(65, 64, 64);
}

/*section sectionPrésence*/
.sectionPrésence .titre1{
    text-align: center;
    color: rgb(65, 64, 64);
    font-size: 35px;
    margin-bottom: 20px;
    padding-top: 150px;
    margin-bottom: 50px;
}

.sectionPrésence .item1 div{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 800px;
    margin: auto;
    box-shadow: 0 0 8px #f1f3f480;
    border: 1px solid rgb(212, 210, 210);
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
    
}
.sectionPrésence .item1 div:hover{
    transform: scale(1.1);
}
.sectionPrésence .item1 div img{
    width: 300px;
}
.sectionPrésence .item1 div p{
    text-align: center;
    position: relative;
    right: 30px;
    color: rgb(65, 64, 64);
}
.sectionPrésence .item2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sectionPrésence .item2 div{
    width: 800px;
    margin-bottom: 50px;
}
.sectionPrésence .item2 h3{
    text-align: center;
    color: rgb(65, 64, 64);
    font-size: 35px;
    margin-bottom: 20px;
    padding-top: 50px;
    margin-bottom: 50px;
}
.sectionPrésence a{
    display: block;
    margin-bottom: 30px;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 10px 40px;
    background-color: #ddd;
}
/*Accordéon*/
.accordion {
    background-color: #f5f5f5;
    color: #333;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
  }

  .accordion:hover {
    background-color: #ddd;
  }

  .accordion.active {
    background-color: #ccc;
  }

  .panel {
    display: none;
    padding: 20px 20px;
    background-color: white;
    overflow: hidden;
  }

  .accordion:hover + .panel {
    display: block;
  }

/*footer*/
footer{
    display: flex;
    justify-content: space-around;
    height: 17vh;
    margin-top: 50px;
    position: relative;
}
footer .item2 table tr td h3{
    color: rgb(46, 45, 45);
    font-size: 15px;
    margin-right: 20px;
    text-align: right;
}
footer .item2 table tr td{
    padding: 18px 5px;
}
footer .item2 table tr + tr td + td{
    display: flex;
    justify-content: space-between;
}